$black: #000
$white: #fff
$text: #666666
$primary-color: #ea623d

@mixin text
	font-size: 16px
	color: $text
	letter-spacing: 0.3px
	line-height: 21px

@mixin h5
	color: #999999
	font-weight: 600
	font-size: 14px
	text-transform: uppercase
	width: 100%
	text-align: center
@mixin h2
	font-size: 32px
	width: 100%
	text-align: center
	color: #333333
	margin: 30px 0
	@media(max-width:400px)
		font-size: 27px
@mixin arrow
	height: 40px
	width: 25px
	display: block
	font-size: 0
