@import 'includes/variables'
@import 'includes/fonts'


html
	scroll-behavior: smooth
body
	margin: 0
	font-family: 'Open Sans', sans-serif
	font-size: 24px
	font-weight: 400
	-webkit-font-smoothing: antialiased
	line-height: 1.3
	overflow-x: hidden
	box-sizing: border-box

	@media (max-width: 768px)
		font-size: 18px
		text-align: center

	@media (min-width: 769px) and (max-width: 1200px)
		font-size: 18px

a
	text-decoration: none !important
	outline: none

.no-padding
	padding-left: 0px !important
	padding-right: 0px !important


/******************Navbar*************************************/


.navigation
	display: flex
	justify-content: space-between
	align-items: center
	padding: 16px 0px
	position: relative
	@media(max-width: 1199px)
		padding: 30px 0px
	.logo
		@media(max-width: 991px)
			position: absolute
			left: 18px
			top: 19px
	.navbar
		@media(max-width: 991px)
			width: 100%
		.navbar-collapse
			text-align: center
			@media(max-width: 450px)
				margin-top: 20px
	.nav-item
		list-style: none
		margin: 0 7px
		.nav-link
			text-transform: uppercase
			color: $black
			font-size: 13px
			font-weight: 600
		.dropdown-menu
			border: none
			text-align: center
			.dropdown-item
				font-size: 13px
				text-transform: uppercase
				font-weight: 600

	.navbar-toggler
		cursor: pointer
		position: absolute
		z-index: 10000
		cursor: pointer
		right: 0px
		top: -9px
		border: none
		background: transparent !important
		&:focus
			outline: none
		.top-bar
			transform: rotate(45deg)
			transform-origin: 10% 10%
		.middle-bar
			opacity: 0
		.bottom-bar
			transform: rotate(-45deg)
			transform-origin: 10% 90%

		.icon-bar
			width: 30px
			height: 2px
			background-color: #453951
			border-radius: 5px
			display: block
			transition: all 0.2s
			margin-top: 6px
		span + span
			margin-top: 14px

		&.collapsed .top-bar
			transform: rotate(0)
		&.collapsed .middle-bar
			opacity: 1
		&.collapsed .bottom-bar
			transform: rotate(0)
.btn-outline-success
	border: none
	color: $black
	transition: all 0.2s ease
	&:focus
		box-shadow: none
	&:hover
		background-color: transparent
		color: $black
		transform: scale(1.1)
		border: none
	&:active
		background-color: transparent !important
		border-color: transparent
.form-inline
	@media(max-width: 1199px)
		text-align: center
		display: flex
		justify-content: center
.btn-outline-success
	@media(max-width: 991px)
		margin-left: 36px
.btn-outline-success:not(:disabled):not(.disabled):active:focus
	box-shadow: none
.form-control
	border: 1px solid transparent
	&:focus
		box-shadow: none
	&[placeholder]
		width: 0px
		transition: all 0.3s ease-in
	&.search
		border: 1px solid $black
		&[placeholder]
			width: 80%
			transition: all 0.3s ease-in


/******************Breadcrumbs*******************************************/

.bredcrumbs
	background: #453951
	.container
		display: flex
		justify-content: space-between
		align-items: center
		@media(max-width: 400px)
			flex-direction: column
		h1
			color: $white
			padding: 29px 0px
			font-size: 32px
			@media(max-width: 400px)
				padding: 19px 0px

		.breadcrumb
			background-color: transparent
			margin-top: 12px
			.breadcrumb-item
				color: #6c757d
				font-size: 16px
			.breadcrumb-item.active
				a
					color: $white

/*************************Section Main*********************************/


#main
	padding: 100px 0
	@media(max-width: 991px)
		padding: 70px 0
	.text
		@include text
	h3
		font-weight: 600
		font-size: 24px
		margin-bottom: 16px
	img
		@media(max-width: 991px)
			margin-bottom: 57px


/*************************Section Services********************************/

#services
	background: #f5f5f5
	padding: 20px 0
	.services_box
		margin: 40px auto 60px
		@media(max-width: 991px)
			margin: 40px auto 38px
		@media(max-width: 650px)
			margin: 40px 15px 38px

		h5
			@include h5
		h2
			@include h2
		.header
			text-align: center
			font-size: 18px
			color: $text
	.service
		min-height: 146px
		padding-left: 45px
		position: relative
		@media(max-width: 991px)
			min-height: initial
			margin-bottom: 20px
			text-align: left
		@media(max-width: 590px)
			margin-left: 15px
		i
			position: absolute
			left: 4px
			top: 11px
			font-size: 17px
			color: $white
		&:before
			width: 35px
			height: 35px
			background-color: #ea623d
			position: absolute
			border-radius: 50%
			top: 2px
			content: " "
			left: -5px
		&.fifth:before
			left: -4px
		&.six i
			left: 7px

		h5
			font-size: 20px
			font-weight: 600
		p
			@include text

/************************ Section Capabilities ************************/

#capabilities
	.capabilities_box
			margin: 40px auto
			h5
				@include h5
			h2
				@include h2
	.statistic
		@media(max-width: 991px)
			margin-top: 50px
	.card
		border-top: none
		border-right: none
		border-left: none
		border-bottom: 1px solid rgba(0,0,0,.125) !important
		.card-body
			font-size: 14px
		.card-header
			background: none
			border-bottom: none
			a
				h5
					color: $black
					padding-left: 50px
					position: relative
					font-weight: 600
					i
						position: absolute
						left: 0
						top: -13px
						&::before
							content: none
		.closed
		  .vertical
		    transition: all 0.5s ease-in-out
		    transform: rotate(-90deg)
		  .horizontal
		    transition: all 0.5s ease-in-out
		    transform: rotate(-90deg)
		    opacity: 1
		.opened
		  opacity: 1
		  .vertical
		    transition: all 0.5s ease-in-out
		    transform: rotate(90deg)
		  .horizontal
		    transition: all 0.5s ease-in-out
		    transform: rotate(90deg)
		    opacity: 0
		.circle-plus
	    height: 4em
	    width: 4em
	    font-size: 1em
	    opacity: .7
		.circle-plus .circle
			position: relative
			width: 0.95em
			height: 2.5em
			border-radius: 100%
		.circle-plus .circle .horizontal
			position: absolute
			background-color: red
			width: 18px
			height: 3px
			left: 75%
			margin-left: -15px
			top: 50%
			margin-top: -2.5px
		.circle-plus .circle .vertical
			position: absolute
			background-color: red
			width: 3px
			height: 18px
			left: 50%
			margin-left: -2.5px
			top: 60%
			margin-top: -15px
	.stat
		margin-bottom: 15px
		.line
			transition: all 0.7s ease-in
		&:first-child .line::after
			width: 0%
			transition: all 0.7s ease-in
		&:first-child.run .line::after
			width: 96%
		&:nth-child(2) .line::after
			width: 0%
			transition: all 0.7s ease-in
		&:nth-child(2).run2 .line::after
			width: 89%
		&:nth-child(3) .line::after
			width: 0%
			transition: all 0.7s ease-in
		&:nth-child(3).run3 .line::after
			width: 66%
		&:last-child .line::after
			width: 0%
			transition: all 0.7s ease-in
		&:last-child.run4 .line::after
			width: 43%

		h6
			text-transform: uppercase
			font-size: 13px
			span
				float: right
				font-size: 13px
				text-transform: none
		.line
			width: 100%
			height: 2px
			background: #cccccc
			position: relative
			&::after
				position: absolute
				display: block
				height: 2px
				width: 89%
				content: " "
				background: black

/************************ Section Slider ************************/
#slider
	background: #453951
	margin: 60px 0 40px
	padding: 16px 0
	.row
		margin: 0
		.col-md-12
			padding: 0
	.quote
		margin: 87px 28% 148px
		blockquote
			color: white
			font-size: 32px
			text-align: center
			@media(max-width:650px)
				font-size: 24px
			@media(max-width:400px)
				font-size: 16px
		h5
			@include h5
			color: #a09ca4 !important
			margin: 40px 0
			letter-spacing: 0.8px
	.owl-nav
		position: absolute
		top: 40%
		width: 100%
		.owl-next
			position: absolute
			right: 10%
			span
				background: url('../images/arrow_right.png') no-repeat center
				@include arrow
		.owl-prev
			position: absolute
			left: 10%
			span
				background: url('../images/arrow_left.png') no-repeat center
				@include arrow
	.owl-dots
		position: absolute
		bottom: 23%
		width: 100%
		text-align: center
		@media(max-width: 767px)
			bottom: 13%
		span
			width: 11px
			height: 11px
			background: transparent
			display: block
			border: 2px solid white
			border-radius: 50%
			margin: 0 2px
		.owl-dot.active span
			background: white

/************************ Section Team ************************/

#team
	h5
		@include h5
	h2
		@include h2
		padding-bottom: 15px
	.img_block > div
		@media(max-width: 1199px)
			text-align: center
			display: flex
			flex-direction: column
	.frame
		width: 258px
		height: 260px
		overflow: hidden
		@media(max-width: 1199px)
			margin: 0 auto
		.img_box
			width: 100%
			height: 100%
			background-size: cover !important
			transition: all 0.3s ease-in
			-webkit-transition: all 0.3s ease-in
			-moz-transition: all 0.3s ease-in
			-o-transition: all 0.3s ease-in
			&:hover
				transform: scale(1.1)
		.ceo
			background: url('../images/ceo.jpg') no-repeat top
		.designer
			background: url('../images/designer.jpg') no-repeat top
		.dev
			background: url('../images/dev.jpg') no-repeat top
		.support
			background: url('../images/support.jpg') no-repeat top
	.info
		padding: 16px 0px 20px
		.name
			font-size: 18px
			font-weight: 600
			margin-bottom: 4px
		.position
			text-align: left
			font-weight: 400
			letter-spacing: 1.1px
			margin-bottom: 14px
			@media(max-width: 1199px)
				text-align: center
		.social
			padding: 10px 0
			border-top: 1px solid #e5e5e5
			@media(max-width: 1199px)
				width: 50%
				margin: 0 auto
			i
				margin-right: 7px
				cursor: pointer
				transition: color 0.3s ease-in
				&:hover::before
					color: initial
				&::before
					color: grey
					transition: all 0.3s ease-in

/************************ Section Clients ************************/

#clients
	margin: 50px 0
	padding: 82px 0px 59px
	background: #f5f5f5
	h5
		@include h5
		text-align: left
		position: relative
		bottom: 20px
		@media(max-width: 1199px)
			text-align: center
			bottom: 0
	h2
		@include h2
		text-align: left
		margin-top: 0
		@media(max-width: 1199px)
			text-align: center
			margin: 8px 0
	.text
		font-size: 14px
		color: $text
		@media(max-width: 1199px)
			text-align: center
			margin-bottom: 30px
	.col-lg-6
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		@media(max-width: 1199px)
			justify-content: center

		&:first-child
			padding-left: 0
			@media(max-width: 991px)
				padding-left: 15px
		&:last-child
			padding-right: 0
			@media(max-width: 991px)
				padding-right: 15px
		.client_box
			display: inline-block
			margin-bottom: 30px
			position: relative
			overflow: hidden
			@media(max-width: 1199px)
				margin: 14px
			@media(max-width: 991px)
				width: 31%
			@media(max-width: 767px)
				width: 100%
			&:hover img
				transform: translate(-100%)
			&:hover .ghost
				transform: translate(-100%)
			img
				width: 190px
				height: 90px
				object-fit: cover
				transition: all 0.3s ease
				@media(max-width: 991px)
					width: 100%
					max-height: 118px
				@media(max-width: 767px)
					max-height: 250px
					height: auto
			.ghost
				width: 100%
				height: 100%
				position: absolute
				top: 0
				right: -100%
				background: #453951
				transition: all 0.3s ease
				img
					width: 64%
					height: 100%
					position: absolute
					right: -49%
					top: 0
					transition: all 0.2s ease

/****************** Section Buy ************************/

#buy
	margin-bottom: 50px
	p
		display: inline
		margin-right: 65px
		font-size: 23px
		@media(max-width: 767px)
			margin-right: 0
	button
		text-transform: uppercase
		border-radius: 0
		padding: 12px 24px
		margin-bottom: 6px
		color: $black
		border: 2px solid #cccccc
		@media(max-width: 767px)
			margin-top: 20px
		@media(max-width: 429px)
			display: block
			margin: 24px auto 0px
		&:hover
			background: #cccccc
			color: $white
	.offset-lg-3
		@media(max-width: 991px)
			max-width: 100%
			flex: 100%

/****************** Section Newsletter ************************/

#newsletter
	background: #453951
	padding: 33px 0 14px
	.col-md-6
		@media(max-width: 767px)
			min-height: 122px
	.follow
		font-size: 13px
		text-transform: uppercase
		color: #918c96
		margin-right: 24px
		@media(max-width: 991px)
			display: block
			margin-bottom: 20px
	.icon
		margin: 0 19px
		display: inline-block
		position: relative
		width: 23px
		cursor: pointer
		&::before
			position: absolute
			display: block
			content: " "
			width: 50px
			height: 50px
			background: #6a6174
			border-radius: 50%
			top: -7px
			left: -18px
		&:nth-child(3) i
			left: -5px
		&:nth-child(5) i
			left: -3px
		i
			color: $white
			position: relative
			z-index: 100
			font-size: 20px
			@media(max-width: 1200px)
				top: 6px
		img
			position: relative
			z-index: 100
			@media(max-width: 1200px)
				top: 5px
	form
		display: inline-block
		#email
			width: 200px
			display: inline-block
			background: transparent
			border: 2px solid #918c96
			&::placeholder
				color: #918c96
		.orange
			background: #ea623d
			border: none
			text-transform: uppercase
			font-size: 13px
			font-weight: 600
			padding: 9px 10px
			margin-left: 5px
			@media(max-width: 328px)
				margin-top: 20px

/****************** Footer ************************/
footer
	background: #2a272e
	padding: 34px 0
	.devel
		color: #555258
		font-size: 14px
	img
		margin-bottom: 24px
	h5
		font-size: 13px
		text-transform: uppercase
		color: #918c96
		font-weight: 600
		margin-bottom: 20px
	.footer_text
		font-size: 13px
		color: #cccccc
	.mail
		color: #ea623d
		font-size: 13px
	.date
		font-size: 11px
		color: #545158
		text-transform: uppercase
		margin-bottom: 3px
	a
		color: #ea623d
	.small_img
		height: 78px
		width: 78px
		background-size: cover !important
		@media(max-width: 767px)
			margin: 0 auto
		&.one
			background: url('../images/footer_img1.jpg') no-repeat center
		&.two
			background: url('../images/footer_img2.jpg') no-repeat center
		&.three
			background: url('../images/footer_img3.jpg') no-repeat center
		&.four
			background: url('../images/footer_img4.jpg') no-repeat center
		.owl-item
			@media(max-width: 1199px)
				margin-left: 12px

#scrollUp
	background: #b15039
	color: #fff
	bottom: 45px
	right: 45px
	border-radius: 50%
	height: 65px
	width: 65px
	font-size: 20px
	text-align: center
	padding: 9px 0
	box-shadow: 0 0 15px 0px rgba(50, 50, 50, 0.2)
	transition: 0.3s
	line-height: 25px
	img
		position: relative
		top: 6px
